@import "tailwindcss";

:root {
  --background: #e8e8e8;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e8e8e8;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand);
}

h1, h2, h3 {
  font-family: var(--font-iceland);
}
